html{
	height: 100%;
}

body{
	font-family: 'Oxygen', sans-serif;
	 padding-bottom:40px;
	
}
.boxStyle{
	box-shadow: 1px 0px 5px 5px #edf1f7;
}

ul.navbar-nav {
    float: right;
    margin: 0;
}
.active{
	color: #fff;
    background-color: #080808;
}

#reviewComment{
	height: 200px;
}

.searchImage{
	width:70%;
	height:40%;
}
.readImage{
	float: right;
	 width: 300px; 
	 height: 200px;
}
/*@media only screen and (max-width: 400px) {
     For mobile phones: 
    .readImage{
       float:left;
    }
}*/
.right{
	float: right;
}
div.commentDiv{	
	border: 1px solid #425cf4;
	width :60%;
}
button.logout{
	float:right;
}
.glyphicon-star{
	color: #FFDF00;
}
footer{
	background-color: black;
	/*background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1)); */
	text-align:  center;
	color:white;
	opacity: .5;
}

ng-rate-it{
	display: inline;
}	
.ngrateit-star{
        background-size: 25px;
    }
.titleColor{
	color:#41b2f4;
}
.reviewInfo{
	font-size: 12px;
}
.reviewRatingSize{
	font-size: 18px;
	/*padding-left:2em*/
}
.registerStyle{
	box-shadow: 1px 5px 10px 10px #edf1f7;
	padding: 5%;
}
.navbar-brand{
	font-size: 25px;
}
.navbar-inverse .navbar-brand {
    color: #fcf8e3;
}
.navbar-inverse .navbar-nav>li>a {
    color:  #fcf8e3	;
}
.styleComment{
	background-color: #f4f9f9;
}
.help-block{
	color:red;
}