<div class="container">
	
		
		<ul>
                    <li class="media" ng-repeat="review in reviews | orderBy : '-reviewId'">
                    
                        <div class = "row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                               <!--  <a href="#/gauti_dish_detail/{{dish._id}}"> -->
                               <img class= "searchImage" 
                               ng-src = "data:image/JPEG;base64,{{review.addPhoto| bytetobase}}"  />
                                
                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-8">
                                <h2 class="media-heading">{{review.manufacturer.manufacturerName}}  {{review.modelName.modelName}}
                                 <span class="label label-info"> Rating : {{review.rating}}</span></h2>
                                 <h4>{{review.title}}</h4>
                                 <p>By-{{review.user.name}}</p>
                                 <p>What is Good - {{review.whatGood}}</p> 
                                 <p>Mileage - {{review.mileage}}Kmpl</p>
                                 <p> Maintanence Cost   - <i class="fa fa-rupee"></i>{{ review.maintanenceCost}}</p>
                                <a  ui-sref = "readReview({id : review.reviewId })" >Read More</a>                          
                            </div>
                        
                        </div>

                    </li>
            </ul>
</div>
	

