
<div class="col-xs-12  col-sm-4 col-sm-offset-4">
    <div  ng-if = notPartialRegister >
        <div  class = "registerStyle" >
            <button class = "btn btn-danger" ng-click = "logout()"   style = "float: right">Logout</button>
            <h3 ng-show = isLogIn > Welcome - {{user.name}}</h3>
            
            <h2>Login</h2>

            <form name="form"  role="form" ng-submit="login(user1)">

                 <p class="help-block">{{error.message}}</p>

                    <!-- Email -->
                    <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                        <label for="emailmail">Email</label>
                        <input type="email" name="email" id="email" class="form-control" ng-model="user1.userName" required />
                        <span ng-show=" form.email.$error.$required" class="help-block">Username is required</span>
                        <span ng-show = "form.email.$invalid && !form.email.$pristine" class = "help-block">Email is not Correct</span>
                    </div>

                    <!-- Password -->
                    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control" ng-model="user1.password" required />
                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                    </div>

                    <!-- Login Button -->
                    <div class="form-actions">
                        <button type="submit" ng-disabled="form.$invalid " class="btn btn-primary" >Login</button>
                       
                        <a ui-sref="register" class="btn btn-link"> Register</a>
                        <br>
                        <br>
                        <br>
                    </div>
            </form>
        </div>
    </div>
    <div ng-if =  !notPartialRegister>
        <div  class = "registerStyle" >
           
           
            <p class="help-block">{{error.message}}</p>
             <form name="form"  role="form" ng-submit="setPassword(user2)">
                 <!-- Password -->
                <div class="form-group" >
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" ng-model="user2.password" ng-minlength="3"         ng-maxlength="15" required/>
                    <span ng-show="form.password.$error.required && !form.password.$pristine" class="help-block">
                             Password is required</span>
                    <span ng-show="form.password.$error.minlength" class="help-block">Password is short</span> 
                    <span ng-show="form.password.$error.maxlength" class="help-block">Password is long</span> 
                </div>
                 <!-- Confirm Password -->
                 <div class="form-group" >
                    <label for="password">Confirm Password</label>
                    <input type="password" name="confirmpassword" id="password" class="form-control" ng-model="user2.confirmPassword" ng-minlength="3"         ng-maxlength="15" required/>
                    <span ng-show="form.confirmpassword.$error.required && !form.confirmpassword.$pristine" class="help-block">
                             Password is required</span>
                    <span ng-show="form.confirmpassword.$error.minlength" class="help-block">Password is short</span> 
                    <span ng-show="form.confirmpassword.$error.maxlength" class="help-block">Password is long</span> 
                </div>
                <!-- Login button -->
                 <div class="form-actions">
                        <button type="submit" ng-disabled="form.$invalid " class="btn btn-primary" >set Password</button>
                       
                        <br>
                        <br>
                        <br>
                    </div>
             </form>
    </div>
</div>
</div>


